<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  {% assign custom_url = site.url | append: site.baseurl %}
  {% assign full_base_url = custom_url | default: site.github.url %}

  {% javascript vendor/jquery-3.1.0.min %}
  {% javascript vendor/jquery.slides.min %}
  {% javascript vendor/bootstrap.min %}

  <!--Bootstrap-->
  {% css bootstrap.min %}

  <!--Flexslider-->
  {% css flexslider %}

  <!--Main Style-->
  {% css main %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: full_base_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | prepend: full_base_url }}">

  <!--  SlidesJS code, for slideshows on some pages. Copied from http://www.slidesjs.com -->
  <style>
    /* Prevents slides from flashing */
    #slides {
      display:none;
    }
  </style>



  <!-- Web Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>


  <link rel="shortcut icon" href="https://www.volunteerhq.org/sites/all/themes/ivhq/favicon.ico" type="image/vnd.microsoft.icon" />

  <script>
    $(function(){
      $("#slides").slidesjs({
        width: 940,
        height: 528,
        navigation: {
          active: true,
            // [boolean] Generates next and previous buttons.
            // You can set to false and use your own buttons.
            // User defined buttons must have the following:
            // previous button: class="slidesjs-previous slidesjs-navigation"
            // next button: class="slidesjs-next slidesjs-navigation"
          effect: "slide"
            // [string] Can be either "slide" or "fade".
        }
      });
    });
  </script>
</head>
