<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Open Graph Data -->
  <meta property="fb:pages" content="136014809750770">
  <meta property="og:site_name" content="{{ site.site-name }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.volunteerhq.org/">
  <meta property="og:title" content="Volunteer Abroad with IVHQ">
  <meta property="og:description" content="{{ site.description | escape }}">
  <meta property="og:image" content="http://www.volunteerhq.org/sites/default/files/facebook-open-graph-image-global.jpg">
  <!--================-->

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Volunteer Abroad with IVHQ">
  <meta name="twitter:description" content="{{ site.description | escape }}">
  <meta name="twitter:url" content="https://www.volunteerhq.org/">
  <meta name="twitter:image" content="http://www.volunteerhq.org/sites/default/files/facebook-open-graph-image-global.jpg">
  <!--==============-->

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  {% assign custom_url = site.url | append: site.baseurl %}
  {% assign full_base_url = custom_url | default: site.github.url %}

  {% javascript vendor/jquery-3.1.0.min %}
  {% javascript vendor/jquery.slides.min %}
  {% javascript vendor/bootstrap.min %}

  <!--Bootstrap-->
  {% css bootstrap.min %}

  <!--Flexslider-->
  {% css flexslider %}
  
  <!--Main Style-->
  {% css main %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: full_base_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | prepend: full_base_url }}">

  <link rel="shortcut icon" href="https://www.volunteerhq.org/sites/all/themes/ivhq/favicon.ico" type="image/vnd.microsoft.icon" />
  
  <!--  SlidesJS code, for slideshows on some pages. Copied from http://www.slidesjs.com -->
  <script>
    $(function(){
      $("#slides").slidesjs({
        width: 940,
        height: 528,
        navigation: {
          active: true,
          effect: "slide"
        }
      });
    });
  </script>
</head>
